# Frontend (React)
kite.servcp.com {
    encode gzip

    root * /usr/share/caddy
    file_server
    try_files {path} /index.html

    tls you@your-email.com
}

# Backend (FastAPI)
api.servcp.com {
    encode gzip

    reverse_proxy backend:8000 {
        header_up Host {host}
        header_up X-Real-IP {remote}
        header_up X-Forwarded-For {remote}
        header_up X-Forwarded-Proto {scheme}
    }

    tls you@your-email.com
}
